[Unit]
Description=Print username
After=network-online.target
Wants=network-online.target
StartLimitIntervalSec=0

[Service]
Type=forking
PIDFile=/var/lock/durex.lock
ExecStart=+/bin/Durex
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
